In [1]:
# Dependencies
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [2]:
 # Load vehicle data set into pandas
center_df = pd.read_csv("Merged_Data/final_center.csv")
center_df.head()

,Unnamed: 0,ENTIRE_NAME,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCC_A10_C,RCC_A17_C,RCC_A2_C,RCC_A34_C,...,RCC_PE21_C,RCC_PE21_R,RCC_PE31_C,RCC_PE31_R,RCC_TINA_C,RCC_TINA_R,RCC_N_C,D_OR_L,YEAR,MONTH
0,1,Boston Children's Hospital (MACH),MACH,TX1,2019-01-06 18:00:00,PA,0.0,100.0,0.0,0.000000,...,-,-,-,-,-,-,1,D,2018,November
1,2,UMass Memorial Medical Center (MAUM),MAUM,TX1,2019-01-06 18:00:00,PA,0.0,0.0,0.0,0.000000,...,-,-,-,-,-,-,1,D,2018,November
2,3,Georgetown University Medical Center (DCGU),DCGU,TX1,2019-01-06 18:00:00,PA,37.5,12.5,0.0,0.000000,...,-,-,-,-,-,-,8,D,2018,November
3,4,University of Maryland Medical System (MDUM),MDUM,TX1,2019-01-06 18:00:00,PA,0.0,0.0,0.0,7.142857,...,-,-,-,-,-,-,14,D,2018,November
4,5,Hackensack University Medical Center (NJHK),NJHK,TX1,2019-01-06 18:00:00,PA,0.0,0.0,0.0,0.000000,...,-,-,-,-,-,-,1,D,2018,November

In [3]:
# List all column names
column_names = center_df.columns.tolist()

print(column_names)

['Unnamed: 0', 'ENTIRE_NAME', 'CTR_CD', 'CTR_TY', 'RELEASE_DATE', 'ORG', 'RCC_A10_C', 'RCC_A17_C', 'RCC_A2_C', 'RCC_A34_C', 'RCC_A49_C', 'RCC_A65P_C', 'RCC_AU_C', 'RCC_BAB_C', 'RCC_BA_C', 'RCC_BB_C', 'RCC_BO_C', 'RCC_BMI20_C', 'RCC_BMI25_C', 'RCC_BMI30_C', 'RCC_BMI31P_C', 'RCC_BMINR_C', 'RCC_BU_C', 'RCC_GF_C', 'RCC_GM_C', 'RCC_GU_C', 'RCC_ICU_C', 'RCC_HOSPNR_C', 'RCC_HOSP_C', 'RCC_PTXN_C', 'RCC_PTXU_C', 'RCC_PTXY_C', 'RCC_NOTHOSP_C', 'RCC_TST1_C', 'RCC_TST1_R', 'RCC_TST1A_C', 'RCC_TST1A_R', 'RCC_TST1B_C', 'RCC_TST1B_R', 'RCC_TST2_C', 'RCC_TST2_R', 'RCC_TST2A_C', 'RCC_TST2A_R', 'RCC_TST2B_C', 'RCC_TST2B_R', 'RCC_TST3_C', 'RCC_TST3_R', 'RCC_ME11_C', 'RCC_ME11_R', 'RCC_ME15_C', 'RCC_ME15_R', 'RCC_ME21_C', 'RCC_ME21_R', 'RCC_ME31_C', 'RCC_ME31_R', 'RCC_ME6_C', 'RCC_ME6_R', 'RCC_PE6_C', 'RCC_PE6_R', 'RCC_PE11_C', 'RCC_PE11_R', 'RCC_PE15_C', 'RCC_PE15_R', 'RCC_PE21_C', 'RCC_PE21_R', 'RCC_PE31_C', 'RCC_PE31_R', 'RCC_TINA_C', 'RCC_TINA_R', 'RCC_N_C', 'D_OR_L', 'YEAR', 'MONTH']

In [4]:
unique_values = column_names['D_OR_L'].unique()

column_names = merged_nation_clean_df.columns

print(column_names)

TypeError: list indices must be integers or slices, not str