In [73]:
import pandas as pd
import os
import re
import calendar

In [74]:
excel_files = [file for file in os.listdir("resource") if not file.startswith("~") and file.lower().endswith(".xls")]

In [75]:

concat=False;
for excel in excel_files:
    year_month = re.sub("[^\d]", "", excel)
    year = "20"+year_month[0:2]
    month = calendar.month_name[int(year_month[2:4])]

    if(year in ["2012", "2013", "2014"]):
        sheet_name = "Table 7"
    else:
        sheet_name = "Figures C1-C2"
    
    deceased_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Deceased")
    deceased_nation_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Deceased Nation")
    living_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Living")
    living_nation_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Living Nation")
 
    if(len(deceased_df.index)>0):
        deceased_df = deceased_df.drop(deceased_df.index[0])
    if(len(deceased_nation_df.index)>0):
        deceased_nation_df = deceased_nation_df.drop(deceased_nation_df.index[0])
    if(len(living_df.index)>0):
        living_df = living_df.drop(living_df.index[0])
    if(len(living_nation_df.index)>0):
        living_nation_df = living_nation_df.drop(living_nation_df.index[0])
        
    deceased_df_cleaned = pd.DataFrame()
    living_df_cleaned = pd.DataFrame()
        
    new_columns = ["ENTIRE_NAME", "ENTIRE_NAME", "CTR_CD", "CTR_TY", "RELEASE_DATE", "ORG", "RCC_A10_C", "RCC_A17_C", "RCC_A2_C", "RCC_A34_C", "RCC_A49_C", "RCC_A65P_C", "RCC_AU_C", "RCC_BAB_C",  "RCC_BA_C", "RCC_BB_C", "RCC_BO_C", "RCC_BMI20_C", "RCC_BMI25_C", "RCC_BMI30_C", "RCC_BMI31P_C", "RCC_BMINR_C", "RCC_BU_C", "RCC_GF_C", "RCC_GM_C", "RCC_GU_C", "RCC_ICU_C", "RCC_HOSPNR_C",
"RCC_HOSP_C", "RCC_PTXN_C", "RCC_PTXU_C", "RCC_PTXY_C", "RCC_NOTHOSP_C", "RCC_TST1_C",  "RCC_TST1_R", "RCC_TST1A_C", "RCC_TST1A_R", "RCC_TST1B_C", "RCC_TST1B_R", "RCC_TST2_C", "RCC_TST2_R", "RCC_TST2A_C", "RCC_TST2A_R", "RCC_TST2B_C", "RCC_TST2B_R", "RCC_TST3_C", "RCC_TST3_R", "RCC_ME11_C", "RCC_ME11_R", "RCC_ME15_C", "RCC_ME15_R", "RCC_ME21_C", "RCC_ME21_R", "RCC_ME31_C", "RCC_ME31_R", "RCC_ME6_C", "RCC_ME6_R", "RCC_PE6_C",
"RCC_PE6_R", "RCC_PE11_C", "RCC_PE11_R", "RCC_PE15_C", "RCC_PE15_R", "RCC_PE21_C",
"RCC_PE21_R", "RCC_PE31_C", "RCC_PE31_R", "RCC_TINA_C", "RCC_TINA_R", "RCC_A64_C", "RCC_A64_N", "RCL_A64_C", "RCL_A64_N"]
        
    columns_to_keep = ["ENTIRE_NAME", "Unnamed: 0", "CTR_CD", "CTR_TY", "RELEASE_DATE", "ORG", "RCC_A10_C", "RCC_A17_C", "RCC_A2_C", "RCC_A34_C", "RCC_A49_C", "RCC_A65P_C", "RCC_AU_C", "RCC_BAB_C",  "RCC_BA_C", "RCC_BB_C", "RCC_BO_C", "RCC_BMI20_C", "RCC_BMI25_C", "RCC_BMI30_C", "RCC_BMI31P_C", "RCC_BMINR_C", "RCC_BU_C", "RCC_GF_C", "RCC_GM_C", "RCC_GU_C", "RCC_ICU_C", "RCC_HOSPNR_C",
"RCC_HOSP_C", "RCC_PTXN_C", "RCC_PTXU_C", "RCC_PTXY_C", "RCC_NOTHOSP_C", "RCC_TST1_C",  "RCC_TST1_R", "RCC_TST1A_C", "RCC_TST1A_R", "RCC_TST1B_C", "RCC_TST1B_R", "RCC_TST2_C", "RCC_TST2_R", "RCC_TST2A_C", "RCC_TST2A_R", "RCC_TST2B_C", "RCC_TST2B_R", "RCC_TST3_C", "RCC_TST3_R", "RCC_ME11_C", "RCC_ME11_R", "RCC_ME15_C", "RCC_ME15_R", "RCC_ME21_C", "RCC_ME21_R", "RCC_ME31_C", "RCC_ME31_R", "RCC_ME6_C", "RCC_ME6_R", "RCC_PE6_C",
"RCC_PE6_R", "RCC_PE11_C", "RCC_PE11_R", "RCC_PE15_C", "RCC_PE15_R", "RCC_PE21_C",
"RCC_PE21_R", "RCC_PE31_C", "RCC_PE31_R", "RCC_TINA_C", "RCC_TINA_R", "RCC_A64_C", "RCC_A64_N", "RCL_A64_C", "RCL_A64_N"]
    
    for new_column, column in zip(new_columns, columns_to_keep):
        if column in deceased_df:
            deceased_df_cleaned[new_column]=deceased_df[column]
        elif column+" " in deceased_df:
            deceased_df_cleaned[new_column]=deceased_df[column+" "]
        elif " "+column in deceased_df:
            deceased_df_cleaned[new_column]=deceased_df[" "+column]
        elif " "+column+" " in deceased_df:
            deceased_df_cleaned[new_column]=deceased_df[" "+column+" "]
            
        if column in living_df:
            living_df_cleaned[new_column]=living_df[column]
        elif column+" " in living_df:
            living_df_cleaned[new_column]=living_df[column+" "]
        elif " "+column in living_df:
            living_df_cleaned[new_column]=living_df[" "+column]
        elif " "+column+" " in living_df:
            living_df_cleaned[new_column]=living_df[" "+column+" "]
            
            
    if "RCC_A69_C" in deceased_df_cleaned:
        deceased_df_cleaned["RCC_A65P_C"] = deceased_df_cleaned["RCC_A69_C"] + deceased_df_cleaned["RCC_A70P_C"]
        deceased_df_cleaned = deceased_df_cleaned.drop(columns=["RCC_A69_C", "RCC_A70P_C"])
    if "RCC_A69_C" in living_df_cleaned:
        living_df_cleaned["RCC_A65P_C"] = living_df_cleaned["RCC_A69_C"] + living_df_cleaned["RCC_A70P_C"]
        living_df_cleaned = living_df_cleaned.drop(columns=["RCC_A69_C", "RCC_A70P_C"])
    if "RCC_BMI35_C" in deceased_df_cleaned:
        deceased_df_cleaned["RCC_BMI31P_C"] = deceased_df_cleaned["RCC_BMI35_C"] + deceased_df_cleaned["RCC_BMI40_C"] + deceased_df_cleaned["RCC_BMI41P_C"]
        deceased_df_cleaned = deceased_df_cleaned.drop(columns=["RCC_BMI35_C", "RCC_BMI40_C", "RCC_BMI41P_C"])
    if "RCC_BMI35_C" in living_df_cleaned:
        living_df_cleaned["RCC_BMI31P_C"] = living_df_cleaned["RCC_BMI35_C"] + living_df_cleaned["RCC_BMI40_C"] + living_df_cleaned["RCC_BMI41P_C"]
        living_df_cleaned = living_df_cleaned.drop(columns=["RCC_BMI35_C", "RCC_BMI40_C", "RCC_BMI41P_C"])


        

    deceased_df_cleaned["D_OR_L"] = "D"
    deceased_nation_df["D_OR_L"] = "D"
    living_df_cleaned["D_OR_L"] = "L"
    living_nation_df["D_OR_L"] = "L"
    
    center_df = pd.concat([deceased_df_cleaned, living_df_cleaned], axis=0)
    nation_df = pd.concat([deceased_nation_df, living_nation_df], axis=0)
    
    
    center_df["YEAR"]=year
    center_df["MONTH"]=month
    nation_df["YEAR"]=year
    nation_df["MONTH"]=month
    
    if(concat==True):
        merged_center_df= pd.concat([merged_center_df, center_df], axis=0)
        merged_nation_df= pd.concat([merged_nation_df, nation_df], axis=0)
    else:
        merged_center_df=center_df
        merged_nation_df=nation_df
        concat=True

In [76]:
merged_center_df = merged_center_df.dropna(axis=1)
merged_center_df

,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCC_A10_C,RCC_A17_C,RCC_A2_C,RCC_A34_C,RCC_A49_C,RCC_BAB_C,...,RCC_TST1A_R,RCC_TST1B_C,RCC_TST2_C,RCC_TST2_R,RCC_TINA_C,RCC_TINA_R,RCC_A64_C,D_OR_L,YEAR,MONTH
1,ALUA,TX1,2012/07/13,Heart,15.6,15.6,0.0,3.1,9.4,3.1,...,59.5,43.8,3.1,4.4,0.0,0.0,50.0,D,2012,July
2,ARBH,TX1,2012/07/13,Heart,0.0,0.0,0.0,12.5,0.0,0.0,...,59.5,37.5,0.0,4.4,0.0,0.0,87.5,D,2012,July
3,ARCH,TX1,2012/07/13,Heart,32.3,19.4,48.4,0.0,0.0,9.7,...,59.5,0.0,6.5,4.4,0.0,0.0,0.0,D,2012,July
4,AZCH,TX1,2012/07/13,Heart,0.0,50.0,50.0,0.0,0.0,50.0,...,62.2,0.0,0.0,13.5,0.0,0.0,0.0,D,2012,July
5,AZMC,TX1,2012/07/13,Heart,0.0,0.0,0.0,0.0,14.3,7.1,...,62.2,42.9,0.0,13.5,0.0,0.0,71.4,D,2012,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,WAUW,TX1,2014/06/17,Heart,0.0,0.0,0.0,17.2,24.1,3.4,...,56.0,34.5,10.3,5.3,0.0,0.0,37.9,D,2014,June
123,WICH,TX1,2014/06/17,Heart,20.0,10.0,50.0,20.0,0.0,0.0,...,74.3,30.0,0.0,0.4,0.0,0.0,0.0,D,2014,June
124,WISE,TX1,2014/06/17,Heart,0.0,0.0,0.0,14.3,28.6,14.3,...,74.3,14.3,0.0,0.4,0.0,0.0,57.1,D,2014,June
125,WISL,TX1,2014/06/17,Heart,0.0,0.0,0.0,0.0,27.3,0.0,...,74.3,31.8,4.5,0.4,0.0,0.0,50.0,D,2014,June
126,WIUW,TX1,2014/06/17,Heart,0.0,0.0,0.0,0.0,26.9,3.8,...,74.3,46.2,0.0,0.4,0.0,0.0,53.8,D,2014,June

In [77]:
merged_nation_df.dropna(inplace = True)
merged_nation_df

Empty DataFrame
Columns: [Unnamed: 0,  CTR_CD,  CTR_TY,  RELEASE_DATE,  ORG,  RCC_A10_N,  RCC_A17_N,  RCC_A2_N,  RCC_A34_N,  RCC_A49_N,  RCC_A64_N,  RCC_A65P_N,  RCC_AU_N,  RCC_BAB_N,  RCC_BAT_N,  RCC_BA_N,  RCC_BB_N,  RCC_BMI20_N,  RCC_BMI25_N,  RCC_BMI30_N,  RCC_BMI31P_N,  RCC_BMINR_N,  RCC_BO_N,  RCC_BU_N,  RCC_CAD_N,  RCC_CAR_N,  RCC_CHD_N,  RCC_CLD_N,  RCC_COD_N,  RCC_CON_N,  RCC_CYF_N,  RCC_DEVS_N,  RCC_DIA_N,  RCC_ECO_N,  RCC_FBP_N,  RCC_GF_N,  RCC_GLO_N,  RCC_GM_N,  RCC_GU_N,  RCC_HOSPNR_N,  RCC_HOSP_N,  RCC_HYP_N,  RCC_ICU_N,  RCC_IDP_N,  RCC_INRET_N,  RCC_KIRET_N,  RCC_LSNR_N,  RCC_LS_N,  RCC_LURET_N,  RCC_ME11_N,  RCC_ME15_N,  RCC_ME21_N,  RCC_ME31_N,  RCC_ME6_N,  RCC_MET_N,  RCC_MIS_N,  RCC_MNEO_N,  RCC_NCC_N,  RCC_NEC_N,  RCC_NEO_N,  RCC_NOTHOSP_N,  RCC_NOTLS_N,  RCC_N_N,  RCC_OTH_N,  RCC_OTK_N,  RCC_PE11_N,  RCC_PE15_N,  RCC_PE21_N,  RCC_PE31_N,  RCC_PE6_N,  RCC_POL_N,  RCC_PPH_N,  RCC_PRA79_N,  RCC_PRA80_N,  RCC_PRA9_N,  RCC_PRAU_N,  RCC_PTXN_N,  RCC_PTXU_N,  RCC_PTXY_N,  RCC_RA_N,  RCC_RB_N,  RCC_RET_N,  RCC_RH_N,  RCC_RO_N,  RCC_RU_N,  RCC_RW_N,  RCC_SGS_N,  RCC_TINA_N,  RCC_TST1A_N,  RCC_TST1B_N,  RCC_TST1_N,  RCC_TST2A_N,  RCC_TST2B_N,  RCC_TST2_N,  RCC_TST3_N,  RCC_TUB_N,  RCC_VAS_N,  RCC_VHD_N, D_OR_L,  RCL_A10_N, ...]
Index: []

[0 rows x 383 columns]

In [78]:
merged_center_df.to_csv("merged/final_center.csv")
merged_nation_df.to_csv("merged/final_nation.csv")