In [94]:
import pandas as pd
import os
import re
import calendar

In [95]:
excel_files = [file for file in os.listdir("resource") if not file.startswith("~") and file.lower().endswith(".xls")]

In [96]:

concat=False;
for excel in excel_files:
    year_month = re.sub("[^\d]", "", excel)
    year = "20"+year_month[0:2]
    month = calendar.month_name[int(year_month[2:4])]

    if(year in ["2012", "2013", "2014"]):
        sheet_name = "Table 7"
    else:
        sheet_name = "Figures C1-C2"
    
    deceased_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Deceased")
    deceased_nation_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Deceased Nation")
    living_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Living")
    living_nation_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Living Nation")
 
    if(len(deceased_df.index)>0):
        deceased_df = deceased_df.drop(deceased_df.index[0])
    if(len(deceased_nation_df.index)>0):
        deceased_nation_df = deceased_nation_df.drop(deceased_nation_df.index[0])
    if(len(living_df.index)>0):
        living_df = living_df.drop(living_df.index[0])
    if(len(living_nation_df.index)>0):
        living_nation_df = living_nation_df.drop(living_nation_df.index[0])

    deceased_df["D_OR_L"] = "D"
    deceased_nation_df["D_OR_L"] = "D"
    living_df["D_OR_L"] = "L"
    living_nation_df["D_OR_L"] = "L"
    
    center_df = pd.concat([deceased_df, living_df], axis=0)
    nation_df = pd.concat([deceased_nation_df, living_nation_df], axis=0)
    
    
    center_df["YEAR"]=year
    center_df["MONTH"]=month
    nation_df["YEAR"]=year
    nation_df["MONTH"]=month
    
    if(concat==True):
        merged_center_df= pd.concat([merged_center_df, center_df], axis=0)
        merged_nation_df= pd.concat([merged_nation_df, nation_df], axis=0)
    else:
        merged_center_df=center_df
        merged_nation_df=nation_df
        concat=True

July
January
November
November
December
May
July
May
December
November
November
June
January
July
May
January
June
November
November
August
June
June

In [97]:
#merged_center_df.dropna(inplace = True)
merged_center_df

,Unnamed: 0,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCC_A10_C,RCC_A10_R,RCC_A17_C,RCC_A17_R,RCC_A2_C,...,RCL_A69_C,RCL_A69_R,RCL_A70P_C,RCL_A70P_R,RCL_BMI35_C,RCL_BMI35_R,RCL_BMI40_C,RCL_BMI40_R,RCL_BMI41P_C,RCL_BMI41P_R
1,University of Alabama Hospital (ALUA),ALUA,TX1,2012/07/13,Heart,15.6,8.9,15.6,8.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Baptist Medical Center (ARBH),ARBH,TX1,2012/07/13,Heart,0.0,8.9,0.0,8.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas Children's Hospital (ARCH),ARCH,TX1,2012/07/13,Heart,32.3,8.9,19.4,8.5,48.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Phoenix Children's Hospital (AZCH),AZCH,TX1,2012/07/13,Heart,0.0,6.2,50.0,5.3,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Mayo Clinic Hospital (AZMC),AZMC,TX1,2012/07/13,Heart,0.0,6.2,0.0,5.3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,University of Washington Medical Center (WAUW),WAUW,TX1,2014/06/17,Heart,0.0,8.0,0.0,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Children's Hospital of Wisconsin (WICH),WICH,TX1,2014/06/17,Heart,20.0,3.0,10.0,5.2,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,Froedtert Memorial Lutheran Hospital (WISE),WISE,TX1,2014/06/17,Heart,0.0,3.0,0.0,5.2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Aurora St. Luke's Medical Center (WISL),WISL,TX1,2014/06/17,Heart,0.0,3.0,0.0,5.2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,University of Wisconsin Hospital and Clinics (...,WIUW,TX1,2014/06/17,Heart,0.0,3.0,0.0,5.2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
#merged_nation_df.dropna(inplace = True)
merged_nation_df

,Unnamed: 0,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCC_A10_N,RCC_A17_N,RCC_A2_N,RCC_A34_N,RCC_A49_N,...,RCC_TAST2_N,RCC_TAST3_N,RCC_TAST4_N,RCC_TAST5_N,RCC_TAST6_N,RCL_A69_N,RCL_A70P_N,RCL_BMI35_N,RCL_BMI40_N,RCL_BMI41P_N
1,University of Alabama Hospital (ALUA),ALUA,TX1,2012/07/13,Heart,5.3,4.9,5.9,9.5,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Baptist Medical Center (ARBH),ARBH,TX1,2012/07/13,Heart,5.3,4.9,5.9,9.5,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas Children's Hospital (ARCH),ARCH,TX1,2012/07/13,Heart,5.3,4.9,5.9,9.5,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Phoenix Children's Hospital (AZCH),AZCH,TX1,2012/07/13,Heart,5.3,4.9,5.9,9.5,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Mayo Clinic Hospital (AZMC),AZMC,TX1,2012/07/13,Heart,5.3,4.9,5.9,9.5,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,University of Washington Medical Center (WAUW),WAUW,TX1,2014/06/17,Heart,5.0,5.3,5.6,9.4,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Children's Hospital of Wisconsin (WICH),WICH,TX1,2014/06/17,Heart,5.0,5.3,5.6,9.4,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,Froedtert Memorial Lutheran Hospital (WISE),WISE,TX1,2014/06/17,Heart,5.0,5.3,5.6,9.4,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Aurora St. Luke's Medical Center (WISL),WISL,TX1,2014/06/17,Heart,5.0,5.3,5.6,9.4,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,University of Wisconsin Hospital and Clinics (...,WIUW,TX1,2014/06/17,Heart,5.0,5.3,5.6,9.4,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
merged_center_df.to_csv("merged/final_center.csv")
merged_nation_df.to_csv("merged/final_nation.csv")