In [127]:
import pandas as pd
import os
import re
import calendar

In [128]:
excel_files = [file for file in os.listdir("resource") if not file.startswith("~") and file.lower().endswith(".xls")]

In [129]:

concat=False;
for excel in excel_files:
    year_month = re.sub("[^\d]", "", excel)
    year = "20"+year_month[0:2]
    month = calendar.month_name[int(year_month[2:4])]

    if(year in ["2012", "2013", "2014"]):
        sheet_name = "Table 7"
    else:
        sheet_name = "Figures C1-C2"
    
    deceased_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Deceased")
    deceased_nation_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Deceased Nation")
    living_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Living")
    living_nation_df = pd.read_excel(io="resource/"+excel, sheet_name=sheet_name+" - Living Nation")
 
    if(len(deceased_df.index)>0):
        deceased_df = deceased_df.drop(deceased_df.index[0])
    if(len(deceased_nation_df.index)>0):
        deceased_nation_df = deceased_nation_df.drop(deceased_nation_df.index[0])
    if(len(living_df.index)>0):
        living_df = living_df.drop(living_df.index[0])
    if(len(living_nation_df.index)>0):
        living_nation_df = living_nation_df.drop(living_nation_df.index[0])
        
    deceased_df_cleaned = pd.DataFrame()
    living_df_cleaned = pd.DataFrame()
        
    columns_to_keep = ["ENTIRE_NAME", "CTR_CD", "CTR_TY", "RELEASE_DATE", "ORG", "RCC_A10_C", "RCC_A17_C", "RCC_A2_C", "RCC_A34_C", "RCC_A49_C", " RCC_A65P_C", "RCC_AU_C", "RCC_BAB_C",  "RCC_BA_C", "RCC_BB_C", "RCC_BO_C", "RCC_BMI20_C", "RCC_BMI25_C", "RCC_BMI30_C", "RCC_BMI31P_C", "RCC_BMINR_C", "RCC_BU_C", "RCC_GF_C", "RCC_GM_C", "RCC_GU_C", "RCC_ICU_C", "RCC_HOSPNR_C",
"RCC_HOSP_C", "RCC_PTXN_C", "RCC_PTXU_C", "RCC_PTXY_C", "RCC_NOTHOSP_C", "RCC_TST1_C",  "RCC_TST1_R", "RCC_TST1A_C", "RCC_TST1A_R", "RCC_TST1B_C", " RCC_TST1B_R", "RCC_TST2_C", "RCC_TST2_R", "RCC_TST2A_C", "RCC_TST2A_R", "RCC_TST2B_C", "RCC_TST2B_R", "RCC_TST3_C", "RCC_TST3_R", "RCC_ME11_C", "RCC_ME11_R", "RCC_ME15_C", "RCC_ME15_R", "RCC_ME21_C", "RCC_ME21_R", "RCC_ME31_C", "RCC_ME31_R", "RCC_ME6_C", "RCC_ME6_R", "RCC_PE6_C",
"RCC_PE6_R", "RCC_PE11_C", "RCC_PE11_R", "RCC_PE15_C", "RCC_PE15_R", "RCC_PE21_C",
"RCC_PE21_R", "RCC_PE31_C", "RCC_PE31_R", "RCC_TINA_C", "RCC_TINA_R"]
    
    
    for column in columns_to_keep:
        if column in deceased_df:
            deceased_df_cleaned[column]=deceased_df[column]
        elif column+" " in deceased_df:
            deceased_df_cleaned[column]=deceased_df[column+" "]
        elif " "+column in deceased_df:
            deceased_df_cleaned[column]=deceased_df[" "+column]
        elif " "+column+" " in deceased_df:
            deceased_df_cleaned[column]=deceased_df[" "+column+" "]
            
        if column in living_df:
            living_df_cleaned[column]=living_df[column]
        elif column+" " in living_df:
            living_df_cleaned[column]=living_df[column+" "]
        elif " "+column in living_df:
            living_df_cleaned[column]=living_df[" "+column]
        elif " "+column+" " in living_df:
            living_df_cleaned[column]=living_df[" "+column+" "]

    deceased_df_cleaned["D_OR_L"] = "D"
    deceased_nation_df["D_OR_L"] = "D"
    living_df_cleaned["D_OR_L"] = "L"
    living_nation_df["D_OR_L"] = "L"
    
    center_df = pd.concat([deceased_df_cleaned, living_df_cleaned], axis=0)
    nation_df = pd.concat([deceased_nation_df, living_nation_df], axis=0)
    
    
    center_df["YEAR"]=year
    center_df["MONTH"]=month
    nation_df["YEAR"]=year
    nation_df["MONTH"]=month
    
    if(concat==True):
        merged_center_df= pd.concat([merged_center_df, center_df], axis=0)
        merged_nation_df= pd.concat([merged_nation_df, nation_df], axis=0)
    else:
        merged_center_df=center_df
        merged_nation_df=nation_df
        concat=True

In [130]:
#merged_center_df.dropna(inplace = True)
merged_center_df

,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCC_A10_C,RCC_A17_C,RCC_A2_C,RCC_A34_C,RCC_A49_C,RCC_A65P_C,...,RCC_PE21_C,RCC_PE21_R,RCC_PE31_C,RCC_PE31_R,RCC_TINA_C,RCC_TINA_R,D_OR_L,YEAR,MONTH,ENTIRE_NAME
1,ALUA,TX1,2012/07/13,Heart,15.6,15.6,0.0,3.1,9.4,6.3,...,,,,,0.0,0.0,D,2012,July,NaN
2,ARBH,TX1,2012/07/13,Heart,0.0,0.0,0.0,12.5,0.0,0.0,...,,,,,0.0,0.0,D,2012,July,NaN
3,ARCH,TX1,2012/07/13,Heart,32.3,19.4,48.4,0.0,0.0,0.0,...,,,,,0.0,0.0,D,2012,July,NaN
4,AZCH,TX1,2012/07/13,Heart,0.0,50.0,50.0,0.0,0.0,0.0,...,,,,,0.0,0.0,D,2012,July,NaN
5,AZMC,TX1,2012/07/13,Heart,0.0,0.0,0.0,0.0,14.3,14.3,...,,,,,0.0,0.0,D,2012,July,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,WAUW,TX1,2014/06/17,Heart,0.0,0.0,0.0,17.2,24.1,20.7,...,,,,,0.0,0.0,D,2014,June,NaN
123,WICH,TX1,2014/06/17,Heart,20.0,10.0,50.0,20.0,0.0,0.0,...,,,,,0.0,0.0,D,2014,June,NaN
124,WISE,TX1,2014/06/17,Heart,0.0,0.0,0.0,14.3,28.6,0.0,...,,,,,0.0,0.0,D,2014,June,NaN
125,WISL,TX1,2014/06/17,Heart,0.0,0.0,0.0,0.0,27.3,22.7,...,,,,,0.0,0.0,D,2014,June,NaN
126,WIUW,TX1,2014/06/17,Heart,0.0,0.0,0.0,0.0,26.9,19.2,...,,,,,0.0,0.0,D,2014,June,NaN

In [131]:
#merged_nation_df.dropna(inplace = True)
merged_nation_df

,Unnamed: 0,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCC_A10_N,RCC_A17_N,RCC_A2_N,RCC_A34_N,RCC_A49_N,...,RCC_TAST2_N,RCC_TAST3_N,RCC_TAST4_N,RCC_TAST5_N,RCC_TAST6_N,RCL_A69_N,RCL_A70P_N,RCL_BMI35_N,RCL_BMI40_N,RCL_BMI41P_N
1,University of Alabama Hospital (ALUA),ALUA,TX1,2012/07/13,Heart,5.3,4.9,5.9,9.5,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Baptist Medical Center (ARBH),ARBH,TX1,2012/07/13,Heart,5.3,4.9,5.9,9.5,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas Children's Hospital (ARCH),ARCH,TX1,2012/07/13,Heart,5.3,4.9,5.9,9.5,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Phoenix Children's Hospital (AZCH),AZCH,TX1,2012/07/13,Heart,5.3,4.9,5.9,9.5,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Mayo Clinic Hospital (AZMC),AZMC,TX1,2012/07/13,Heart,5.3,4.9,5.9,9.5,16.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,University of Washington Medical Center (WAUW),WAUW,TX1,2014/06/17,Heart,5.0,5.3,5.6,9.4,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Children's Hospital of Wisconsin (WICH),WICH,TX1,2014/06/17,Heart,5.0,5.3,5.6,9.4,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,Froedtert Memorial Lutheran Hospital (WISE),WISE,TX1,2014/06/17,Heart,5.0,5.3,5.6,9.4,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Aurora St. Luke's Medical Center (WISL),WISL,TX1,2014/06/17,Heart,5.0,5.3,5.6,9.4,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,University of Wisconsin Hospital and Clinics (...,WIUW,TX1,2014/06/17,Heart,5.0,5.3,5.6,9.4,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
merged_center_df.to_csv("merged/final_center.csv")
merged_nation_df.to_csv("merged/final_nation.csv")