In [53]:
#import dependencies
import pandas as pd

In [54]:
#define the variables. Some excel files will need the same cleaning, those will be grouped together.

In [55]:
#get the first sheet name to turn into a dataframe - this will be for transplants from deceased donors. 
sheet_name = 'Figures C1-C2 - Deceased'

c12_excel_files = ['1506_KI.XLS', '1512_KI.XLS', '1606_KI.XLS', '1701_KI.xls', '1707_KI.xls', '1711_KI.xls',
                  '1808_KI.xls', '1811_KI.xls', '1905_KI.xls', '1911_KI.xls', '2006_KI.xls', '2011_KI.xls',
                  '2105_KI.xls', '2111_KI.xls', '2205_KI.xls', '2211_KI.xls']



col_keep = ["ENTIRE_NAME", "CTR_CD", "CTR_TY", "RELEASE_DATE", "ORG", "RCC_A10_C", "RCC_A17_C", "RCC_A2_C", 
            "RCC_A34_C", "RCC_A49_C", "RCC_A64_C", " RCC_A65P_C", "RCC_AU_C", "RCC_BAB_C",  "RCC_BA_C", "RCC_BB_C", 
            "RCC_BO_C", "RCC_BMI20_C", "RCC_BMI25_C", "RCC_BMI30_C", "RCC_BMI31P_C", "RCC_BMINR_C", "RCC_BU_C", 
            "RCC_GF_C", "RCC_GM_C", "RCC_GU_C", "RCC_ICU_C", "RCC_HOSPNR_C", "RCC_HOSP_C", "RCC_PTXN_C", 
            "RCC_PTXU_C", "RCC_PTXY_C", "RCC_NOTHOSP_C", "RCC_N_C"]

In [56]:
#import all the excel sheets from Figures C1-C2 - Deceased as dataframes. 


df_1506_c1c27d = pd.read_excel('kidney/1506_KI.XLS', sheet_name=sheet_name)
df_1512_c1c27d = pd.read_excel('kidney/1512_KI.XLS', sheet_name=sheet_name)
df_1606_c1c27d = pd.read_excel('kidney/1606_KI.XLS', sheet_name=sheet_name)
df_1701_c1c27d = pd.read_excel('kidney/1701_KI.xls', sheet_name=sheet_name)
df_1707_c1c27d = pd.read_excel('kidney/1707_KI.xls', sheet_name=sheet_name)
df_1711_c1c27d = pd.read_excel('kidney/1711_KI.xls', sheet_name=sheet_name)
df_1808_c1c27d = pd.read_excel('kidney/1808_KI.xls', sheet_name=sheet_name)
df_1811_c1c27d = pd.read_excel('kidney/1811_KI.xls', sheet_name=sheet_name)
df_1905_c1c27d = pd.read_excel('kidney/1905_KI.xls', sheet_name=sheet_name)
df_1911_c1c27d = pd.read_excel('kidney/1911_KI.xls', sheet_name=sheet_name)
df_2006_c1c27d = pd.read_excel('kidney/2006_KI.xls', sheet_name=sheet_name)
df_2011_c1c27d = pd.read_excel('kidney/2011_KI.xls', sheet_name=sheet_name)
df_2105_c1c27d = pd.read_excel('kidney/2105_KI.xls', sheet_name=sheet_name)
df_2111_c1c27d = pd.read_excel('kidney/2111_KI.xls', sheet_name=sheet_name)
df_2205_c1c27d = pd.read_excel('kidney/2205_KI.xls', sheet_name=sheet_name)
df_2211_c1c27d = pd.read_excel('kidney/2211_KI.xls', sheet_name=sheet_name)

In [57]:
#get Table 7 excel files
sheet_name = 'Table 7 - Deceased'

tb7_excel_files = ['1207_KI.XLS', '1301_KI.XLS', '1307_KI.XLS', '1401_KI.XLS', '1406_KI.XLS', '1412_KI.XLS']

df_1207_c1c27d = pd.read_excel('kidney/1207_KI.XLS', sheet_name=sheet_name)
df_1301_c1c27d = pd.read_excel('kidney/1301_KI.XLS', sheet_name=sheet_name)
df_1307_c1c27d = pd.read_excel('kidney/1307_KI.XLS', sheet_name=sheet_name)
df_1401_c1c27d = pd.read_excel('kidney/1401_KI.XLS', sheet_name=sheet_name)
df_1406_c1c27d = pd.read_excel('kidney/1406_KI.XLS', sheet_name=sheet_name)
df_1412_c1c27d = pd.read_excel('kidney/1412_KI.XLS', sheet_name=sheet_name)

In [58]:
%whos

Variable           Type         Data/Info
-----------------------------------------
add_new            list         n=3
agg_df_list        list         n=7
all_variables      dict         n=130
c12_excel_files    list         n=16
c1c27d_df_list     list         n=22
col_keep           list         n=34
col_keep_strip     list         n=37
column_a65         str          RCC_A65P_C
column_a69         str          RCC_A69_C
column_a70         str          RCC_A70P_C
column_bmi31       str          RCC_BMI31P_C
column_bmi35       str          RCC_BMI35_C
column_bmi40       str          RCC_BMI40_C
column_bmi41       str          RCC_BMI41P_C
dataframes_list    list         n=26
df                 DataFrame                             <...>n[234 rows x 201 columns]
df_1207_c1c27d     DataFrame                             <...>n[233 rows x 194 columns]
df_1301_c1c27d     DataFrame                             <...>n[233 rows x 194 columns]
df_1307_c1c27d     DataFrame                             <...>n[232 rows x 194 columns]
df_1401_c1c27d     DataFrame                             <...>n[233 rows x 194 columns]
df_1406_c1c27d     DataFrame                             <...>n[235 rows x 194 columns]
df_1412_c1c27d     DataFrame                             <...>n[232 rows x 194 columns]
df_1506_c1c27d     DataFrame                             <...>n[232 rows x 194 columns]
df_1512_c1c27d     DataFrame                             <...>n[235 rows x 194 columns]
df_1606_c1c27d     DataFrame                             <...>n[237 rows x 194 columns]
df_1701_c1c27d     DataFrame                             <...>n[235 rows x 194 columns]
df_1707_c1c27d     DataFrame                             <...>n[236 rows x 194 columns]
df_1711_c1c27d     DataFrame                             <...>n[238 rows x 194 columns]
df_1808_c1c27d     DataFrame                             <...>n[238 rows x 194 columns]
df_1811_c1c27d     DataFrame                             <...>n[240 rows x 194 columns]
df_1905_c1c27d     DataFrame                             <...>n[239 rows x 194 columns]
df_1911_c1c27d     DataFrame                             <...>n[234 rows x 198 columns]
df_2006_c1c27d     DataFrame                             <...>n[234 rows x 198 columns]
df_2011_c1c27d     DataFrame                             <...>n[232 rows x 198 columns]
df_2105_c1c27d     DataFrame                             <...>n[233 rows x 198 columns]
df_2111_c1c27d     DataFrame                             <...>n[233 rows x 198 columns]
df_2205_c1c27d     DataFrame                             <...>n[232 rows x 198 columns]
df_2211_c1c27d     DataFrame                             <...>n[234 rows x 198 columns]
df_c1c27d_concat   DataFrame                             <...>n[5160 rows x 37 columns]
new_df_list        list         n=22
pd                 module       <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
sheet_name         str          Table 7 - Deceased
tb7_excel_files    list         n=6

In [59]:
#create a list of dataframes from sheet Figures C1-C2 - Deceased or Table 7 - Deceased which is: C1C27D
c1c27d_df_list = [df_1506_c1c27d, df_1512_c1c27d, df_1606_c1c27d, df_1701_c1c27d, df_1707_c1c27d, 
                  df_1711_c1c27d, df_1808_c1c27d, df_1811_c1c27d, df_1905_c1c27d, df_1911_c1c27d,
                  df_2006_c1c27d, df_2011_c1c27d, df_2105_c1c27d, df_2111_c1c27d, df_2205_c1c27d,
                  df_2211_c1c27d, df_1207_c1c27d, df_1301_c1c27d, df_1307_c1c27d, df_1401_c1c27d,
                  df_1406_c1c27d, df_1412_c1c27d]

In [60]:
#check number of columns tables C1-C2 - Deceased
print(len(df_2211_c1c27d.columns))

198

In [61]:
#check number of columns from sheet Table 7 - Deceased
print(len(df_1207_c1c27d.columns))

194

In [62]:
#remove leading whitespace from columns from dataframes
df_1207_c1c27d.columns = df_1207_c1c27d.columns.str.strip()
df_1301_c1c27d.columns = df_1301_c1c27d.columns.str.strip()
df_1307_c1c27d.columns = df_1307_c1c27d.columns.str.strip()
df_1401_c1c27d.columns = df_1401_c1c27d.columns.str.strip()
df_1406_c1c27d.columns = df_1406_c1c27d.columns.str.strip()
df_1412_c1c27d.columns = df_1412_c1c27d.columns.str.strip()
df_1506_c1c27d.columns = df_1506_c1c27d.columns.str.strip()
df_1512_c1c27d.columns = df_1512_c1c27d.columns.str.strip()
df_1606_c1c27d.columns = df_1606_c1c27d.columns.str.strip()

In [63]:
# df_1207_c1c27d
# df_1301_c1c27d
# df_1307_c1c27d
# df_1401_c1c27d
# df_1406_c1c27d
# df_1412_c1c27d
# df_1506_c1c27d
# df_1512_c1c27d
# df_1606_c1c27d
# df_1701_c1c27d
# df_1707_c1c27d
# df_1711_c1c27d
# df_1808_c1c27d
# df_1811_c1c27d
# df_1905_c1c27d
# df_1911_c1c27d
# df_2006_c1c27d
# df_2011_c1c27d
# df_2105_c1c27d
# df_2111_c1c27d
# df_2205_c1c27d
# df_2211_c1c27d

In [64]:
all_variables = globals()

# Filter the dictionary to get DataFrame variables only
dataframes_list = [variable for variable in all_variables.values() if isinstance(variable, pd.DataFrame)]
type(dataframes_list)

list

In [65]:
#strip unwanted white space from the column list
col_keep_strip = [s.lstrip() for s in col_keep]

In [66]:
#add these to the columns to keep list
add_new = ['YEAR', 'MONTH', 'D_OR_L']
col_keep_strip += add_new

In [67]:
col_keep_strip

['ENTIRE_NAME',
 'CTR_CD',
 'CTR_TY',
 'RELEASE_DATE',
 'ORG',
 'RCC_A10_C',
 'RCC_A17_C',
 'RCC_A2_C',
 'RCC_A34_C',
 'RCC_A49_C',
 'RCC_A64_C',
 'RCC_A65P_C',
 'RCC_AU_C',
 'RCC_BAB_C',
 'RCC_BA_C',
 'RCC_BB_C',
 'RCC_BO_C',
 'RCC_BMI20_C',
 'RCC_BMI25_C',
 'RCC_BMI30_C',
 'RCC_BMI31P_C',
 'RCC_BMINR_C',
 'RCC_BU_C',
 'RCC_GF_C',
 'RCC_GM_C',
 'RCC_GU_C',
 'RCC_ICU_C',
 'RCC_HOSPNR_C',
 'RCC_HOSP_C',
 'RCC_PTXN_C',
 'RCC_PTXU_C',
 'RCC_PTXY_C',
 'RCC_NOTHOSP_C',
 'RCC_N_C',
 'YEAR',
 'MONTH',
 'D_OR_L']

In [68]:
len(col_keep_strip)

37

In [69]:
#create a dataframes list that need the aggregation for combing age group data
agg_df_list = [df_1911_c1c27d, df_2006_c1c27d, df_2011_c1c27d, df_2105_c1c27d, df_2111_c1c27d, 
          df_2205_c1c27d, df_2211_c1c27d]

column_a69 = 'RCC_A69_C'
column_a70 = 'RCC_A70P_C'
column_a65 = 'RCC_A65P_C'

for df in agg_df_list:
    
    #add them together
    df[column_a65] = df[column_a69] + df[column_a70]
    print(df[column_a65][0])

23.6842105264
27.848101265700002
38.2978723406
32.9411764702
24.193548387
24.242424242
12.941176470599999

In [70]:
#add Unknown Age column and set it to zero
for df in agg_df_list:
    df['RCC_AU_C'] = 0

In [72]:
#take columns RCC_BMI35_C + RCC_BMI40_C + RCC_BMI41P_C = RCC_BMI31P_C
#This is for BMI greater than 35, 40 and 41 and combining them to be greater than 31 BMI

column_bmi35 = 'RCC_BMI35_C'
column_bmi40 = 'RCC_BMI40_C'
column_bmi41 = 'RCC_BMI41P_C'
column_bmi31 = 'RCC_BMI31P_C'

for df in agg_df_list:
    
    #add them together
    df[column_bmi31] = df[column_bmi35] + df[column_bmi40] + df[column_bmi41]
    print(df[column_bmi31][0])

34.2105263164
37.9746835443
42.5531914891
43.5294117649
38.709677418999995
27.2727272733
27.0588235299

In [73]:
df_1207_c1c27d = df_1207_c1c27d[col_keep_strip]
df_1301_c1c27d = df_1301_c1c27d[col_keep_strip]
df_1307_c1c27d = df_1307_c1c27d[col_keep_strip]
df_1401_c1c27d = df_1401_c1c27d[col_keep_strip]
df_1406_c1c27d = df_1406_c1c27d[col_keep_strip]
df_1412_c1c27d = df_1412_c1c27d[col_keep_strip]
df_1506_c1c27d = df_1506_c1c27d[col_keep_strip]
df_1512_c1c27d = df_1512_c1c27d[col_keep_strip]
df_1606_c1c27d = df_1606_c1c27d[col_keep_strip]
df_1701_c1c27d = df_1701_c1c27d[col_keep_strip]
df_1707_c1c27d = df_1707_c1c27d[col_keep_strip]
df_1711_c1c27d = df_1711_c1c27d[col_keep_strip]
df_1808_c1c27d = df_1808_c1c27d[col_keep_strip]
df_1811_c1c27d = df_1811_c1c27d[col_keep_strip]
df_1905_c1c27d = df_1905_c1c27d[col_keep_strip]
df_1911_c1c27d = df_1911_c1c27d[col_keep_strip]
df_2006_c1c27d = df_2006_c1c27d[col_keep_strip]
df_2011_c1c27d = df_2011_c1c27d[col_keep_strip]
df_2105_c1c27d = df_2105_c1c27d[col_keep_strip]
df_2111_c1c27d = df_2111_c1c27d[col_keep_strip]
df_2205_c1c27d = df_2205_c1c27d[col_keep_strip]
df_2211_c1c27d = df_2211_c1c27d[col_keep_strip]

In [74]:
new_df_list = [df_1506_c1c27d, df_1512_c1c27d, df_1606_c1c27d, df_1701_c1c27d, df_1707_c1c27d, 
                  df_1711_c1c27d, df_1808_c1c27d, df_1811_c1c27d, df_1905_c1c27d, df_1911_c1c27d,
                  df_2006_c1c27d, df_2011_c1c27d, df_2105_c1c27d, df_2111_c1c27d, df_2205_c1c27d,
                  df_2211_c1c27d, df_1207_c1c27d, df_1301_c1c27d, df_1307_c1c27d, df_1401_c1c27d,
                  df_1406_c1c27d, df_1412_c1c27d]

In [75]:
print(len(df_1905_c1c27d.columns))

37

In [76]:
#concatenate all the dataframes together
df_c1c27d_concat = pd.concat(new_df_list)

In [77]:
df_c1c27d_concat.head()

,ENTIRE_NAME,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCC_A10_C,RCC_A17_C,RCC_A2_C,RCC_A34_C,RCC_A49_C,...,RCC_HOSPNR_C,RCC_HOSP_C,RCC_PTXN_C,RCC_PTXU_C,RCC_PTXY_C,RCC_NOTHOSP_C,RCC_N_C,YEAR,MONTH,D_OR_L
0,Children's of Alabama (ALCH),ALCH,TX1,2015/06/16,Kidney,20.0,53.3,6.7,20.0,0.0,...,0.0,6.7,93.3,0.0,6.7,93.3,15,2015,6,DECEASED
1,University of Alabama Hospital (ALUA),ALUA,TX1,2015/06/16,Kidney,0.0,0.0,0.0,11.3,25.8,...,0.0,0.8,84.7,0.0,15.3,97.6,124,2015,6,DECEASED
2,Baptist Medical Center (ARBH),ARBH,TX1,2015/06/16,Kidney,0.0,0.0,0.0,0.0,42.9,...,0.0,19.0,95.2,0.0,4.8,81.0,21,2015,6,DECEASED
3,Arkansas Children's Hospital (ARCH),ARCH,TX1,2015/06/16,Kidney,66.7,33.3,0.0,0.0,0.0,...,0.0,0.0,83.3,0.0,16.7,100.0,6,2015,6,DECEASED
4,UAMS Medical Center (ARUA),ARUA,TX1,2015/06/16,Kidney,0.0,0.0,0.0,30.0,26.7,...,0.0,0.0,90.0,0.0,10.0,100.0,30,2015,6,DECEASED

In [78]:
#send to csv
df_c1c27d_concat.to_csv('output/kidney_C1-C2-T7-D.csv')