In [51]:
import pandas as pd
import numpy as np

In [52]:
kidney_df=pd.read_excel(io="merged/15_Year.xlsx", sheet_name="15_Year")
kidney_df

,Transplant Year,Age Group,N,Graft Survival Rate,Patient Survival Rate,All ABO,O,A,B,AB,...,Retransplant/Graft Failure,Tubular and Interstitial Diseases,"White, Non-Hispanic","Black, Non-Hispanic",Hispanic/Latino,Unknown,"Asian, Non-Hispanic","American Indian/Alaska Native, Non-Hispanic","Pacific Islander, Non-Hispanic","Multiracial, Non-Hispanic"
0,2007,<1 Year,1,*,*,2,1,1,0,0,...,0.0,0.0,180,55,77,0,20,2,4,5
1,2007,1-5 Years,154,50.23,90.34,162,88,49,20,5,...,0.0,13.0,291,95,118,0,29,6,2,6
2,2007,6-10 Years,131,44.26,84.95,141,75,36,23,7,...,6.0,12.0,146,50,63,0,12,0,1,1
3,2007,11-17 Years,425,29.14,80.48,491,248,172,52,19,...,31.0,40.0,406,161,186,0,31,7,1,1
4,2007,18-34,1847,42.51,76.32,2265,1074,809,292,90,...,210.0,110.0,1778,803,588,0,133,23,14,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,1988,11-17 Years,271,27.59,80.51,407,182,163,44,18,...,3.0,62.0,356,103,62,3,11,4,0,0
156,1988,18-34,2076,33.78,62.24,2794,1286,1060,322,125,...,10.0,235.0,2419,603,303,3,83,16,7,0
157,1988,35-49,2579,27.71,42.55,3289,1486,1274,383,146,...,8.0,201.0,3196,838,291,5,109,43,1,0
158,1988,50-64,1654,19.17,21.72,1926,876,730,232,88,...,2.0,112.0,2487,490,179,6,60,20,3,0
159,1988,65+,195,*,8.78,212,98,80,17,17,...,1.0,11.0,219,28,11,1,4,2,0,0

In [53]:
kidney_df.columns

Index(['Transplant Year', 'Age Group', 'N', 'Graft Survival Rate ',
       'Patient Survival Rate ', 'All ABO', 'O', 'A', 'B', 'AB',
       'Congenital, Rare, Familial, and Metaboli', 'Diabetes',
       'Glomerular Disease', 'Hypertensive Nephrosclerosis', 'Neoplasms',
       'Not Reported', 'Other', 'Polycystic Kidneys',
       'Renovascular and Other Vascular Disease', 'Retransplant/Graft Failure',
       'Tubular and Interstitial Diseases', 'White, Non-Hispanic',
       'Black, Non-Hispanic', 'Hispanic/Latino', 'Unknown',
       'Asian, Non-Hispanic', 'American Indian/Alaska Native, Non-Hispanic',
       'Pacific Islander, Non-Hispanic', 'Multiracial, Non-Hispanic'],
      dtype='object')

In [54]:
for column in kidney_df.columns:
    if column not in ['Transplant Year', 'Age Group']:
        kidney_df[column] = pd.to_numeric(kidney_df[column], errors='coerce')
        
kidney_df.fillna(0,inplace=True)
kidney_df

,Transplant Year,Age Group,N,Graft Survival Rate,Patient Survival Rate,All ABO,O,A,B,AB,...,Retransplant/Graft Failure,Tubular and Interstitial Diseases,"White, Non-Hispanic","Black, Non-Hispanic",Hispanic/Latino,Unknown,"Asian, Non-Hispanic","American Indian/Alaska Native, Non-Hispanic","Pacific Islander, Non-Hispanic","Multiracial, Non-Hispanic"
0,2007,<1 Year,1,0.00,0.00,2,1,1,0,0,...,0.0,0.0,180,55,77,0,20,2,4,5
1,2007,1-5 Years,154,50.23,90.34,162,88,49,20,5,...,0.0,13.0,291,95,118,0,29,6,2,6
2,2007,6-10 Years,131,44.26,84.95,141,75,36,23,7,...,6.0,12.0,146,50,63,0,12,0,1,1
3,2007,11-17 Years,425,29.14,80.48,491,248,172,52,19,...,31.0,40.0,406,161,186,0,31,7,1,1
4,2007,18-34,1847,42.51,76.32,2265,1074,809,292,90,...,210.0,110.0,1778,803,588,0,133,23,14,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,1988,11-17 Years,271,27.59,80.51,407,182,163,44,18,...,3.0,62.0,356,103,62,3,11,4,0,0
156,1988,18-34,2076,33.78,62.24,2794,1286,1060,322,125,...,10.0,235.0,2419,603,303,3,83,16,7,0
157,1988,35-49,2579,27.71,42.55,3289,1486,1274,383,146,...,8.0,201.0,3196,838,291,5,109,43,1,0
158,1988,50-64,1654,19.17,21.72,1926,876,730,232,88,...,2.0,112.0,2487,490,179,6,60,20,3,0
159,1988,65+,195,0.00,8.78,212,98,80,17,17,...,1.0,11.0,219,28,11,1,4,2,0,0

In [55]:
kidney_df.to_csv("merged/15_Year_cleaned.csv")