In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
kidney_df=pd.read_excel(io="merged/KIDNEY_DATA0010625.xlsx", sheet_name="20_Year")
kidney_df

,Transplant Year,Age Group,Number_of_Transplants,Graft_Survival_Rate_20,Patient_Survival_Rate_20,Blood_O,Blood_A,Blood_B,Blood_AB,Deceased_Donor,...,Retransplant/Graft Failure,Tubular and Interstitial Diseases,"White, Non-Hispanic","Black, Non-Hispanic",Hispanic/Latino,Unknown,"Asian, Non-Hispanic","American Indian/Alaska Native, Non-Hispanic","Pacific Islander, Non-Hispanic","Multiracial, Non-Hispanic"
0,2002,<1 Year,5,*,*,2,2,0,1,220,...,0,2,157,31,54,0,7,3,0,3
1,2002,1-5 Years,137,38.11,90.08,72,54,15,0,351,...,2,11,256,94,102,0,19,2,2,2
2,2002,6-10 Years,146,25.11,72.87,77,56,15,9,178,...,8,14,163,47,60,1,5,2,0,1
3,2002,11-17 Years,385,16.58,67.76,233,161,51,20,486,...,74,48,447,131,127,2,21,7,6,5
4,2002,18-34,2100,28.68,58.7,1175,972,310,116,2200,...,426,137,2030,814,568,1,139,14,13,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,1988,11-17 Years,271,19.41,66.35,182,163,44,18,369,...,3,62,356,103,62,3,11,4,0,0
117,1988,18-34,2076,24.23,50.51,1286,1060,322,125,2581,...,10,235,2419,603,303,3,83,16,7,0
118,1988,35-49,2579,17.21,27.5,1486,1274,383,146,3982,...,8,201,3196,838,291,5,109,43,1,0
119,1988,50-64,1654,10.71,10.48,876,730,232,88,3055,...,2,112,2487,490,179,6,60,20,3,0
120,1988,65+,195,*,*,98,80,17,17,255,...,1,11,219,28,11,1,4,2,0,0

In [3]:
kidney_df.columns

Index(['Transplant Year', 'Age Group', 'Number_of_Transplants',
       'Graft_Survival_Rate_20', 'Patient_Survival_Rate_20', 'Blood_O',
       'Blood_A', 'Blood_B', 'Blood_AB', 'Deceased_Donor', 'Living_Donor',
       'Congenital, Rare, Familial, and Metaboli', 'Diabetes',
       'Glomerular Disease', 'Hypertensive Nephrosclerosis', 'Neoplasms',
       'Not Reported', 'Other', 'Polycystic Kidneys',
       'Renovascular and Other Vascular Disease', 'Retransplant/Graft Failure',
       'Tubular and Interstitial Diseases', 'White, Non-Hispanic',
       'Black, Non-Hispanic', 'Hispanic/Latino', 'Unknown',
       'Asian, Non-Hispanic', 'American Indian/Alaska Native, Non-Hispanic',
       'Pacific Islander, Non-Hispanic', 'Multiracial, Non-Hispanic'],
      dtype='object')

In [6]:
for column in kidney_df.columns:
    if column not in ['Transplant Year', 'Age Group']:
        kidney_df[column] = pd.to_numeric(kidney_df[column], errors='coerce')
        
kidney_df.fillna(0,inplace=True)
kidney_df

,Transplant Year,Age Group,Number_of_Transplants,Graft_Survival_Rate_20,Patient_Survival_Rate_20,Blood_O,Blood_A,Blood_B,Blood_AB,Deceased_Donor,...,Retransplant/Graft Failure,Tubular and Interstitial Diseases,"White, Non-Hispanic","Black, Non-Hispanic",Hispanic/Latino,Unknown,"Asian, Non-Hispanic","American Indian/Alaska Native, Non-Hispanic","Pacific Islander, Non-Hispanic","Multiracial, Non-Hispanic"
0,2002,<1 Year,5,0.00,0.00,2,2,0,1,220,...,0,2,157,31,54,0,7,3,0,3
1,2002,1-5 Years,137,38.11,90.08,72,54,15,0,351,...,2,11,256,94,102,0,19,2,2,2
2,2002,6-10 Years,146,25.11,72.87,77,56,15,9,178,...,8,14,163,47,60,1,5,2,0,1
3,2002,11-17 Years,385,16.58,67.76,233,161,51,20,486,...,74,48,447,131,127,2,21,7,6,5
4,2002,18-34,2100,28.68,58.70,1175,972,310,116,2200,...,426,137,2030,814,568,1,139,14,13,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,1988,11-17 Years,271,19.41,66.35,182,163,44,18,369,...,3,62,356,103,62,3,11,4,0,0
117,1988,18-34,2076,24.23,50.51,1286,1060,322,125,2581,...,10,235,2419,603,303,3,83,16,7,0
118,1988,35-49,2579,17.21,27.50,1486,1274,383,146,3982,...,8,201,3196,838,291,5,109,43,1,0
119,1988,50-64,1654,10.71,10.48,876,730,232,88,3055,...,2,112,2487,490,179,6,60,20,3,0
120,1988,65+,195,0.00,0.00,98,80,17,17,255,...,1,11,219,28,11,1,4,2,0,0

In [8]:
kidney_df.to_csv("merged/kidney_clean_20.csv")