In [1]:
# Importing dependencies

import pandas as pd
import os
import re
import calendar

In [2]:
# sheet_names = 'Figures C1-C2 - Deceased'

excel_files = ['LU-1207.XLS', 'LU-1301.XLS', 'LU-1307.XLS', 'LU-1401.XLS', 'LU-1406.XLS', 'LU-1412.XLS', 
               'LU-1506.XLS', 'LU-1512.XLS', 'LU-1606.XLS', 'LU-1701.xls', 'LU-1707.xls', 'LU-1711.xls', 
               'LU-1808.xls', 'LU-1811.xls', 'LU-1905.xls', 'LU-1911.xls', 'LU-2006.xls', 'LU-2011.xls', 
               'LU-2105.xls', 'LU-2111.xls', 'LU-2205.xls', 'LU-2211.xls']

concat=False;
for file in excel_files:
    year_month = re.sub("[^\d]", "", file)
    year = "20"+year_month[0:2]
    month = int(year_month[2:4])
    
    
    if(year in ["2012", "2013", "2014"]):
        sheet_name = "Table 7"
    else:
        sheet_name = "Figures C1-C2"
        
    
    deceased_df = pd.read_excel(io='Resources_LU/'+file, sheet_name=sheet_name+" - Deceased")
    deceased_nation_df = pd.read_excel(io="Resources_LU/"+file, sheet_name=sheet_name+" - Deceased Nation")
    living_df = pd.read_excel(io="Resources_LU/"+file, sheet_name=sheet_name+" - Living")
    living_nation_df = pd.read_excel(io="Resources_LU/"+file, sheet_name=sheet_name+" - Living Nation")
        
    if(len(deceased_df.index)>0):
        deceased_df = deceased_df.drop(deceased_df.index[0])
    if(len(deceased_nation_df.index)>0):
        deceased_nation_df = deceased_nation_df.drop(deceased_nation_df.index[0])
    if(len(living_df.index)>0):
        living_df = living_df.drop(living_df.index[0])
    if(len(living_nation_df.index)>0):
        living_nation_df = living_nation_df.drop(living_nation_df.index[0])
        
    deceased_df_cleaned = pd.DataFrame()
    living_df_cleaned = pd.DataFrame()
    
    columns_to_keep = ["Unnamed: 0", "ENTIRE_NAME", "CTR_CD", "CTR_TY", "RELEASE_DATE", "ORG", "RCC_A10_C", 
                       "RCC_A17_C", "RCC_A2_C", "RCC_A34_C", "RCC_A49_C", " RCC_A65P_C", "RCC_AU_C", "RCC_BAB_C",  
                       "RCC_BA_C", "RCC_BB_C", "RCC_BO_C", "RCC_BMI20_C", "RCC_BMI25_C", "RCC_BMI30_C", 
                       "RCC_BMI31P_C", "RCC_BMINR_C", "RCC_BU_C", "RCC_GF_C", "RCC_GM_C", "RCC_GU_C", "RCC_ICU_C", 
                       "RCC_HOSPNR_C", "RCC_HOSP_C", "RCC_PTXN_C", "RCC_PTXU_C", "RCC_PTXY_C", "RCC_NOTHOSP_C", 
                       "RCC_TST1_C",  "RCC_TST1_R", "RCC_TST1A_C", "RCC_TST1A_R", "RCC_TST1B_C", " RCC_TST1B_R", 
                       "RCC_TST2_C", "RCC_TST2_R", "RCC_TST2A_C", "RCC_TST2A_R", "RCC_TST2B_C", "RCC_TST2B_R", 
                       "RCC_TST3_C", "RCC_TST3_R", "RCC_ME11_C", "RCC_ME11_R", "RCC_ME15_C", "RCC_ME15_R", 
                       "RCC_ME21_C", "RCC_ME21_R", "RCC_ME31_C", "RCC_ME31_R", "RCC_ME6_C", "RCC_ME6_R", 
                       "RCC_PE6_C", "RCC_PE6_R", "RCC_PE11_C", "RCC_PE11_R", "RCC_PE15_C", "RCC_PE15_R", 
                       "RCC_PE21_C", "RCC_PE21_R", "RCC_PE31_C", "RCC_PE31_R", "RCC_TINA_C", "RCC_TINA_R"]
    
    for column in columns_to_keep:
        if column in deceased_df:
            deceased_df_cleaned[column]=deceased_df[column]
        elif column+" " in deceased_df:
            deceased_df_cleaned[column]=deceased_df[column+" "]
        elif " "+column in deceased_df:
            deceased_df_cleaned[column]=deceased_df[" "+column]
        elif " "+column+" " in deceased_df:
            deceased_df_cleaned[column]=deceased_df[" "+column+" "]
            
        if column in living_df:
            living_df_cleaned[column]=living_df[column]
        elif column+" " in living_df:
            living_df_cleaned[column]=living_df[column+" "]
        elif " "+column in living_df:
            living_df_cleaned[column]=living_df[" "+column]
        elif " "+column+" " in living_df:
            living_df_cleaned[column]=living_df[" "+column+" "]

    deceased_df_cleaned["D_OR_L"] = "D"
    deceased_nation_df["D_OR_L"] = "D"
    living_df_cleaned["D_OR_L"] = "L"
    living_nation_df["D_OR_L"] = "L"
    
    center_df = pd.concat([deceased_df_cleaned, living_df_cleaned], axis=0)
    nation_df = pd.concat([deceased_nation_df, living_nation_df], axis=0)
    
    center_df["YEAR"]=year
    center_df["MONTH"]=month
    nation_df["YEAR"]=year
    nation_df["MONTH"]=month
    
    if(concat==True):
        merged_center_df= pd.concat([merged_center_df, center_df], axis=0)
        merged_nation_df= pd.concat([merged_nation_df, nation_df], axis=0)
    else:
        merged_center_df=center_df
        merged_nation_df=nation_df
        concat=True

In [3]:
merged_center_df

,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCC_A10_C,RCC_A17_C,RCC_A2_C,RCC_A34_C,RCC_A49_C,RCC_A65P_C,...,RCC_PE21_C,RCC_PE21_R,RCC_PE31_C,RCC_PE31_R,RCC_TINA_C,RCC_TINA_R,D_OR_L,YEAR,MONTH,ENTIRE_NAME
1,ALUA,TX1,2012/07/13,Lung,0.0,0.0,0.0,26.1,13.0,8.7,...,,,,,,,D,2012,7,NaN
2,AZSJ,TX1,2012/07/13,Lung,0.0,0.0,0.0,11.9,16.7,33.3,...,,,,,,,D,2012,7,NaN
3,AZUA,TX1,2012/07/13,Lung,3.8,0.0,0.0,19.2,19.2,11.5,...,,,,,,,D,2012,7,NaN
4,CACS,TX1,2012/07/13,Lung,0.0,0.0,0.0,6.7,0.0,46.7,...,,,,,,,D,2012,7,NaN
5,CAPC,TX1,2012/07/13,Lung,0.0,33.3,0.0,66.7,0.0,0.0,...,,,,,,,D,2012,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NCDU,TX1,2023-01-05 18:00:00,LU,0,0,0,3.571429,8.035714,NaN,...,-,-,-,-,-,-,D,2022,11,Duke University Hospital (NCDU)
66,NCMH,TX1,2023-01-05 18:00:00,LU,0,0,0,0,33.333333,NaN,...,-,-,-,-,-,-,D,2022,11,University of North Carolina Hospitals (NCMH)
67,SCMU,TX1,2023-01-05 18:00:00,LU,0,0,0,0,0,NaN,...,-,-,-,-,-,-,D,2022,11,Medical University of South Carolina (SCMU)
68,TNVU,TX1,2023-01-05 18:00:00,LU,0,0,0,3.225806,6.451613,NaN,...,-,-,-,-,-,-,D,2022,11,Vanderbilt University Medical Center (TNVU)
69,VAUV,TX1,2023-01-05 18:00:00,LU,0,0,0,3.571429,3.571429,NaN,...,-,-,-,-,-,-,D,2022,11,University of Virginia Health Sciences Center ...

In [4]:
columns_to_keep = ["Unnamed: 0", "ENTIRE_NAME", "CTR_CD", "CTR_TY", "RELEASE_DATE", "ORG", "RCC_A10_C", "RCC_A17_C", 
                       "RCC_A2_C", "RCC_A34_C", "RCC_A49_C", " RCC_A65P_C", "RCC_AU_C", "RCC_BAB_C",  
                       "RCC_BA_C", "RCC_BB_C", "RCC_BO_C", "RCC_BMI20_C", "RCC_BMI25_C", "RCC_BMI30_C", 
                       "RCC_BMI31P_C", "RCC_BMINR_C", "RCC_BU_C", "RCC_GF_C", "RCC_GM_C", "RCC_GU_C", "RCC_ICU_C", 
                       "RCC_HOSPNR_C", "RCC_HOSP_C", "RCC_PTXN_C", "RCC_PTXU_C", "RCC_PTXY_C", "RCC_NOTHOSP_C", 
                       "RCC_TST1_C",  "RCC_TST1_R", "RCC_TST1A_C", "RCC_TST1A_R", "RCC_TST1B_C", " RCC_TST1B_R", 
                       "RCC_TST2_C", "RCC_TST2_R", "RCC_TST2A_C", "RCC_TST2A_R", "RCC_TST2B_C", "RCC_TST2B_R", 
                       "RCC_TST3_C", "RCC_TST3_R", "RCC_ME11_C", "RCC_ME11_R", "RCC_ME15_C", "RCC_ME15_R", 
                       "RCC_ME21_C", "RCC_ME21_R", "RCC_ME31_C", "RCC_ME31_R", "RCC_ME6_C", "RCC_ME6_R", 
                       "RCC_PE6_C", "RCC_PE6_R", "RCC_PE11_C", "RCC_PE11_R", "RCC_PE15_C", "RCC_PE15_R", 
                       "RCC_PE21_C", "RCC_PE21_R", "RCC_PE31_C", "RCC_PE31_R", "RCC_TINA_C", "RCC_TINA_R"]

print(len(columns_to_keep))

69

In [6]:
merged_center_df.columns

Index(['CTR_CD', 'CTR_TY', 'RELEASE_DATE', 'ORG', 'RCC_A10_C', 'RCC_A17_C',
       'RCC_A2_C', 'RCC_A34_C', 'RCC_A49_C', ' RCC_A65P_C', 'RCC_AU_C',
       'RCC_BAB_C', 'RCC_BA_C', 'RCC_BB_C', 'RCC_BO_C', 'RCC_BMI20_C',
       'RCC_BMI25_C', 'RCC_BMI30_C', 'RCC_BMI31P_C', 'RCC_BMINR_C', 'RCC_BU_C',
       'RCC_GF_C', 'RCC_GM_C', 'RCC_GU_C', 'RCC_ICU_C', 'RCC_HOSPNR_C',
       'RCC_HOSP_C', 'RCC_PTXN_C', 'RCC_PTXU_C', 'RCC_PTXY_C', 'RCC_NOTHOSP_C',
       'RCC_TST1_C', 'RCC_TST1_R', 'RCC_TST1A_C', 'RCC_TST1A_R', 'RCC_TST1B_C',
       ' RCC_TST1B_R', 'RCC_TST2_C', 'RCC_TST2_R', 'RCC_TST2A_C',
       'RCC_TST2A_R', 'RCC_TST2B_C', 'RCC_TST2B_R', 'RCC_TST3_C', 'RCC_TST3_R',
       'RCC_ME11_C', 'RCC_ME11_R', 'RCC_ME15_C', 'RCC_ME15_R', 'RCC_ME21_C',
       'RCC_ME21_R', 'RCC_ME31_C', 'RCC_ME31_R', 'RCC_ME6_C', 'RCC_ME6_R',
       'RCC_PE6_C', 'RCC_PE6_R', 'RCC_PE11_C', 'RCC_PE11_R', 'RCC_PE15_C',
       'RCC_PE15_R', 'RCC_PE21_C', 'RCC_PE21_R', 'RCC_PE31_C', 'RCC_PE31_R',
       'RCC_TINA_C', 'RCC_TINA_R', 'D_OR_L', 'YEAR', 'MONTH', 'ENTIRE_NAME'],
      dtype='object')

In [7]:
y = merged_center_df.columns

print(len(y))

71