In [1]:
import pandas as pd
import os
import re
import calendar

In [2]:
excel_files = [file for file in os.listdir("Resources") if not file.startswith("~") and file.lower().endswith(".xls")]

In [4]:
concat=False;
concat=False;
for excel in excel_files:
    year_month = re.sub("[^\d]", "", excel)
    year = "20"+year_month[0:2]
    month = calendar.month_name[int(year_month[2:4])]

    if(year in ["2012", "2013", "2014"]):
        sheet_name = "Table 7"
    else:
        sheet_name = "Figures C1-C2"
    
    deceased_df = pd.read_excel(io="Resources/"+excel, sheet_name=sheet_name+" - Deceased")
    deceased_nation_df = pd.read_excel(io="Resources/"+excel, sheet_name=sheet_name+" - Deceased Nation")
    living_df = pd.read_excel(io="Resources/"+excel, sheet_name=sheet_name+" - Living")
    living_nation_df = pd.read_excel(io="Resources/"+excel, sheet_name=sheet_name+" - Living Nation")
 
    if(len(deceased_df.index)>0):
        deceased_df = deceased_df.drop(deceased_df.index[0])
    if(len(deceased_nation_df.index)>0):
        deceased_nation_df = deceased_nation_df.drop(deceased_nation_df.index[0])
    if(len(living_df.index)>0):
        living_df = living_df.drop(living_df.index[0])
    if(len(living_nation_df.index)>0):
        living_nation_df = living_nation_df.drop(living_nation_df.index[0])
        
    deceased_df_cleaned = pd.DataFrame()
    living_df_cleaned = pd.DataFrame()
        
    new_columns = ["ENTIRE_NAME", "ENTIRE_NAME", "CTR_CD", "CTR_TY", "RELEASE_DATE", "ORG", "RCC_A10_C", "RCC_A17_C", "RCC_A2_C", "RCC_A34_C", "RCC_A49_C", "RCC_A65P_C", "RCC_AU_C", "RCC_BAB_C",  "RCC_BA_C", "RCC_BB_C", "RCC_BO_C", "RCC_BMI20_C", "RCC_BMI25_C", "RCC_BMI30_C", "RCC_BMI31P_C", "RCC_BMINR_C", "RCC_BU_C", "RCC_GF_C", "RCC_GM_C", "RCC_GU_C", "RCC_ICU_C", "RCC_HOSPNR_C",
"RCC_HOSP_C", "RCC_PTXN_C", "RCC_PTXU_C", "RCC_PTXY_C", "RCC_NOTHOSP_C", "RCC_TST1_C",  "RCC_TST1_R", "RCC_TST1A_C", "RCC_TST1A_R", "RCC_TST1B_C", "RCC_TST1B_R", "RCC_TST2_C", "RCC_TST2_R", "RCC_TST2A_C", "RCC_TST2A_R", "RCC_TST2B_C", "RCC_TST2B_R", "RCC_TST3_C", "RCC_TST3_R", "RCC_ME11_C", "RCC_ME11_R", "RCC_ME15_C", "RCC_ME15_R", "RCC_ME21_C", "RCC_ME21_R", "RCC_ME31_C", "RCC_ME31_R", "RCC_ME6_C", "RCC_ME6_R", "RCC_PE6_C",
"RCC_PE6_R", "RCC_PE11_C", "RCC_PE11_R", "RCC_PE15_C", "RCC_PE15_R", "RCC_PE21_C",
"RCC_PE21_R", "RCC_PE31_C", "RCC_PE31_R", "RCC_TINA_C", "RCC_TINA_R", "RCC_A69_C", "RCC_A70P_C", "RCC_BMI35_C", "RCC_BMI40_C", "RCC_BMI41P_C", "RCC_N_C"]
    
    columns_to_keep = ["ENTIRE_NAME", "Unnamed: 0", "CTR_CD", "CTR_TY", "RELEASE_DATE", "ORG", "RCC_A10_C", "RCC_A17_C", "RCC_A2_C", "RCC_A34_C", "RCC_A49_C", "RCC_A65P_C", "RCC_AU_C", "RCC_BAB_C",  "RCC_BA_C", "RCC_BB_C", "RCC_BO_C", "RCC_BMI20_C", "RCC_BMI25_C", "RCC_BMI30_C", "RCC_BMI31P_C", "RCC_BMINR_C", "RCC_BU_C", "RCC_GF_C", "RCC_GM_C", "RCC_GU_C", "RCC_ICU_C", "RCC_HOSPNR_C",
"RCC_HOSP_C", "RCC_PTXN_C", "RCC_PTXU_C", "RCC_PTXY_C", "RCC_NOTHOSP_C", "RCC_TST1_C",  "RCC_TST1_R", "RCC_TST1A_C", "RCC_TST1A_R", "RCC_TST1B_C", "RCC_TST1B_R", "RCC_TST2_C", "RCC_TST2_R", "RCC_TST2A_C", "RCC_TST2A_R", "RCC_TST2B_C", "RCC_TST2B_R", "RCC_TST3_C", "RCC_TST3_R", "RCC_ME11_C", "RCC_ME11_R", "RCC_ME15_C", "RCC_ME15_R", "RCC_ME21_C", "RCC_ME21_R", "RCC_ME31_C", "RCC_ME31_R", "RCC_ME6_C", "RCC_ME6_R", "RCC_PE6_C",
"RCC_PE6_R", "RCC_PE11_C", "RCC_PE11_R", "RCC_PE15_C", "RCC_PE15_R", "RCC_PE21_C",
"RCC_PE21_R", "RCC_PE31_C", "RCC_PE31_R", "RCC_TINA_C", "RCC_TINA_R", "RCC_A69_C", "RCC_A70P_C", "RCC_BMI35_C", "RCC_BMI40_C", "RCC_BMI41P_C", "RCC_N_C"]
    
    
    
    for new_column, column in zip(new_columns, columns_to_keep):
        if column in deceased_df:
            deceased_df_cleaned[new_column]=deceased_df[column]
        elif column+" " in deceased_df:
            deceased_df_cleaned[new_column]=deceased_df[column+" "]
        elif " "+column in deceased_df:
            deceased_df_cleaned[new_column]=deceased_df[" "+column]
        elif " "+column+" " in deceased_df:
            deceased_df_cleaned[new_column]=deceased_df[" "+column+" "]
            
        if column in living_df:
            living_df_cleaned[new_column]=living_df[column]
        elif column+" " in living_df:
            living_df_cleaned[new_column]=living_df[column+" "]
        elif " "+column in living_df:
            living_df_cleaned[new_column]=living_df[" "+column]
        elif " "+column+" " in living_df:
            living_df_cleaned[new_column]=living_df[" "+column+" "]
            
            
    if "RCC_A69_C" in deceased_df_cleaned:
        deceased_df_cleaned["RCC_A65P_C"] = deceased_df_cleaned["RCC_A69_C"] + deceased_df_cleaned["RCC_A70P_C"]
        deceased_df_cleaned = deceased_df_cleaned.drop(columns=["RCC_A69_C", "RCC_A70P_C"])
    if "RCC_A69_C" in living_df_cleaned:
        living_df_cleaned["RCC_A65P_C"] = living_df_cleaned["RCC_A69_C"] + living_df_cleaned["RCC_A70P_C"]
        living_df_cleaned = living_df_cleaned.drop(columns=["RCC_A69_C", "RCC_A70P_C"])
    if "RCC_BMI35_C" in deceased_df_cleaned:
        deceased_df_cleaned["RCC_BMI31P_C"] = deceased_df_cleaned["RCC_BMI35_C"] + deceased_df_cleaned["RCC_BMI40_C"] + deceased_df_cleaned["RCC_BMI41P_C"]
        deceased_df_cleaned = deceased_df_cleaned.drop(columns=["RCC_BMI35_C", "RCC_BMI40_C", "RCC_BMI41P_C"])
    if "RCC_BMI35_C" in living_df_cleaned:
        living_df_cleaned["RCC_BMI31P_C"] = living_df_cleaned["RCC_BMI35_C"] + living_df_cleaned["RCC_BMI40_C"] + living_df_cleaned["RCC_BMI41P_C"]
        living_df_cleaned = living_df_cleaned.drop(columns=["RCC_BMI35_C", "RCC_BMI40_C", "RCC_BMI41P_C"])  
            

    deceased_df_cleaned["D_OR_L"] = "D"
    deceased_nation_df["D_OR_L"] = "D"
    living_df_cleaned["D_OR_L"] = "L"
    living_nation_df["D_OR_L"] = "L"
    
    center_df = pd.concat([deceased_df_cleaned, living_df_cleaned], axis=0)
    nation_df = pd.concat([deceased_nation_df, living_nation_df], axis=0)
    
    
    center_df["YEAR"]=year
    center_df["MONTH"]=month
    nation_df["YEAR"]=year
    nation_df["MONTH"]=month
    
    if(concat==True):
        merged_center_df= pd.concat([merged_center_df, center_df], axis=0)
        merged_nation_df= pd.concat([merged_nation_df, nation_df], axis=0)
    else:
        merged_center_df=center_df
        merged_nation_df=nation_df
        concat=True

In [5]:
#merged_center_df.dropna(inplace = True)
merged_center_df

,ENTIRE_NAME,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCC_A10_C,RCC_A17_C,RCC_A2_C,RCC_A34_C,RCC_A49_C,...,RCC_PE21_C,RCC_PE21_R,RCC_PE31_C,RCC_PE31_R,RCC_TINA_C,RCC_TINA_R,RCC_N_C,D_OR_L,YEAR,MONTH
1,Boston Children's Hospital (MACH),MACH,TX1,2019-01-06 18:00:00,PA,0,100,0,0,0,...,-,-,-,-,-,-,1,D,2018,November
2,UMass Memorial Medical Center (MAUM),MAUM,TX1,2019-01-06 18:00:00,PA,0,0,0,0,0,...,-,-,-,-,-,-,1,D,2018,November
3,Georgetown University Medical Center (DCGU),DCGU,TX1,2019-01-06 18:00:00,PA,37.5,12.5,0,0,12.5,...,-,-,-,-,-,-,8,D,2018,November
4,University of Maryland Medical System (MDUM),MDUM,TX1,2019-01-06 18:00:00,PA,0,0,0,7.142857,64.285714,...,-,-,-,-,-,-,14,D,2018,November
5,Hackensack University Medical Center (NJHK),NJHK,TX1,2019-01-06 18:00:00,PA,0,0,0,0,0,...,-,-,-,-,-,-,1,D,2018,November
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,Duke University Hospital (NCDU),NCDU,TX1,2017-01-04 18:00:00,PA,16.666667,0,66.666667,16.666667,0,...,NaN,NaN,NaN,NaN,NaN,NaN,6,D,2017,January
56,Medical University of South Carolina (SCMU),SCMU,TX1,2017-01-04 18:00:00,PA,0,0,0,100,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,D,2017,January
57,Vanderbilt University Medical Center (TNVU),TNVU,TX1,2017-01-04 18:00:00,PA,0,0,0,0,100,...,NaN,NaN,NaN,NaN,NaN,NaN,1,D,2017,January
58,Medical College of Virginia Hospitals (VAMC),VAMC,TX1,2017-01-04 18:00:00,PA,0,0,0,0,50,...,NaN,NaN,NaN,NaN,NaN,NaN,2,D,2017,January
59,Sentara Norfolk General Hospital (VANG),VANG,TX1,2017-01-04 18:00:00,PA,0,0,0,0,100,...,NaN,NaN,NaN,NaN,NaN,NaN,2,D,2017,January

In [6]:
#merged_nation_df.dropna(inplace = True)
merged_nation_df

,ENTIRE_NAME,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCC_A10_N,RCC_A17_N,RCC_A2_N,RCC_A34_N,RCC_A49_N,...,RCL_RW_N,RCL_TINA_N,RCL_TST1A_N,RCL_TST1B_N,RCL_TST1_N,RCL_TST2A_N,RCL_TST2B_N,RCL_TST3_N,RCL_TUB_N,RCL_VAS_N
1,Boston Children's Hospital (MACH),MACH,TX1,2019-01-06 18:00:00,PA,10.891089,3.465347,1.980198,16.336634,44.059406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UMass Memorial Medical Center (MAUM),MAUM,TX1,2019-01-06 18:00:00,PA,10.891089,3.465347,1.980198,16.336634,44.059406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Georgetown University Medical Center (DCGU),DCGU,TX1,2019-01-06 18:00:00,PA,10.891089,3.465347,1.980198,16.336634,44.059406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Maryland Medical System (MDUM),MDUM,TX1,2019-01-06 18:00:00,PA,10.891089,3.465347,1.980198,16.336634,44.059406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Hackensack University Medical Center (NJHK),NJHK,TX1,2019-01-06 18:00:00,PA,10.891089,3.465347,1.980198,16.336634,44.059406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,Duke University Hospital (NCDU),NCDU,TX1,2017-01-04 18:00:00,PA,9.389671,0.469484,5.164319,23.004695,35.680751,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Medical University of South Carolina (SCMU),SCMU,TX1,2017-01-04 18:00:00,PA,9.389671,0.469484,5.164319,23.004695,35.680751,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Vanderbilt University Medical Center (TNVU),TNVU,TX1,2017-01-04 18:00:00,PA,9.389671,0.469484,5.164319,23.004695,35.680751,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Medical College of Virginia Hospitals (VAMC),VAMC,TX1,2017-01-04 18:00:00,PA,9.389671,0.469484,5.164319,23.004695,35.680751,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Sentara Norfolk General Hospital (VANG),VANG,TX1,2017-01-04 18:00:00,PA,9.389671,0.469484,5.164319,23.004695,35.680751,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
merged_center_df.to_csv("Merged_Data/final_center.csv")
merged_nation_df.to_csv("Merged_Data/final_nation.csv")